/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    margin-top: 100px;
    padding: 10px;
    /* background: linear-gradient(135deg, #1e3c72, #2a5298, #162447, #0f2027, #3c1053, #ad5389); */
    background-image: url(backimg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.box {
    width: 45%;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease, box-shadow 0.5s ease;
    height: 500px;
}

.box:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}


ul {
    list-style-type: none; 
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 20px;
}

ul li {
    display: inline-block;
    width: 45%; 
    margin: 10px 5%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-align: center;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
}

/* Background Properties Div */
.background-properties {
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Text Effects Div */
.text-effects {
    border: 2px solid rgba(255, 255, 255, 0.2);
}


h1, h2 {
    text-align: center;
    color: #fff;
}
